*{
    box-sizing:border-box;
}
html{
    width: 100%;
    height: 100%;
    touch-action: manipulation; /* IE11+ 禁止双击缩放，关于移动端300ms延迟：https://github.com/ftlabs/fastclick */  
    -ms-touch-action: manipulation /* IE10+ 禁止双击缩放 */
}
body{
    width: 100%;
    height: 100%;
    font-family: Microsoft YaHei,STHeiti,Helvetica,Arial,sans-serif;
}
img{vertical-align: top;border: 0;}
ul, li, ol{
    list-style-type: none;
}
a, blockquote, body, button, code, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html,iframe, img, input, label, li, object, ol, p, q, small, span, strong, table, tbody, td, th, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
button, input, select, textarea { font-size: 100%; line-height:normal; }
button, input, select, label{vertical-align:middle;}
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
a{color: #333; outline: none; text-decoration: none;}
a:focus{outline: none;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1; }