*{
	box-sizing:border-box;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-family: Microsoft YaHei,STHeiti,Helvetica,Arial,sans-serif;
}
img{vertical-align: top;border: 0;}
ul, li, ol{
    list-style-type: none;
}
a, blockquote, body, button, code, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html,iframe, img, input, label, li, object, ol, p, q, small, span, strong, table, tbody, td, th, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
button, input, select, textarea { font-size: 100%; line-height:normal; }
button, input, select, label{vertical-align:middle;}
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
a{color: #333; outline: none; text-decoration: none;}
a:focus{outline: none;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1; }

.bottomLoad{
    width: 100%;
    position: relative;
}

.bottomLoad div{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #999;
}

/*back图标*/
.back-white {
    background: url(../img/back-white.png) no-repeat center center;
    background-size: 20px;
}
.back-black {
    background: url(../img/back-black.png) no-repeat center center;
    background-size: 20px;
}

/*close图标*/
.close-white {
    background: url(../img/close-white.png) no-repeat center center;
    background-size: 20px;
}
.close-black {
    background: url(../img/close-black.png) no-repeat center center;
    background-size: 20px;
}

/*edit图标*/
.edit-white {
    background: url(../img/edit-white.png) no-repeat center center;
    background-size: 20px;
}
.edit-black {
    background: url(../img/edit-black.png) no-repeat center center;
    background-size: 20px;
}

/*动画效果*/
.fadeIn-enter-active {
    animation: fadeInRight .3s ease;
}

.fadeIn-leave-active {
    animation: fadeOutRight .3s ease;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3);
        }
    50% {
        opacity: 1;
    }
}